<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
Device
Table start
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">User Friendly Name</th>
        <th scope="col">TYPE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="device: ${deviceList}">
        <td th:text="${device.id}"/>
        <td th:text="${device.userFriendlyName}"/>
        <td th:text="${device.deviceType}"/>
    </tr>
    </tbody>
</table>
</body>
</html>